export const KYOBO_ID = '';
export const KYOBO_PW = '';
export const ELEVENST_ID = '';
export const ELEVENST_PW = '';
export const GMARKET_ID = '';
export const GMARKET_PW = '';
export const ENURI_ID = '';
export const ENURI_PW = '';
export const OKCASHBAG_ID = '';
export const OKCASHBAG_PW = '';
export const YES24_ID = '';
export const YES24_PW = '';
export const HPOINT_ID = '';
export const HPOINT_PW = '';
