export const KYOBO_ID = 'example';
export const KYOBO_PW = 'example';
export const ELEVENST_ID = 'example';
export const ELEVENST_PW = 'example';
export const GMARKET_ID = '';
export const GMARKET_PW = '';